#home-section{
  background:url('../img/home.jpeg') no-repeat;
  min-height:700px;
  background-size:cover;
  background-attatchment:auto;
}

// .dark-overlay{
//   background-color:;
//   position:absolute;
//   top:0;
//   left:0;
//   width:100%;
//   min-height:700px;
// }